# 12. 데이터 수정

In [1]:
import pandas as pd
df = pd.read_csv('DSC.txt',index_col='이명' )
df

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
하주   무이치로  주  160   40   35   50  55  25    안개
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80    사랑
수주     기유  주  176   15   20   10  35  10     물
충주    시노부  주  151   80  100   95  85  80    벌레
풍주    사네미  주  179   55   65   45  40  35    바람
주인공   탄지로  병  165  100   85   90  95  95  물, 해

In [5]:
df['사용호흡'].replace({'물, 해':'시작의 호흡'})

이명
염주         화염
하주         안개
음주         소리
연주         사랑
수주          물
충주         벌레
풍주         바람
주인공    시작의 호흡
Name: 사용호흡, dtype: object

In [6]:
df['사용호흡'].replace({'물, 해':'시작의 호흡'}, inplace=True)

In [7]:
df

       이름 계급    키   국어   영어   수학  과학  사회    사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85      화염
하주   무이치로  주  160   40   35   50  55  25      안개
음주     텐겐  주  198   80   75   70  80  75      소리
연주    미츠리  주  167   40   60   70  75  80      사랑
수주     기유  주  176   15   20   10  35  10       물
충주    시노부  주  151   80  100   95  85  80      벌레
풍주    사네미  주  179   55   65   45  40  35      바람
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡

In [8]:
df['사용호흡'] = df['사용호흡']+'의 호흡'
df

       이름 계급    키   국어   영어   수학  과학  사회        사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85      화염의 호흡
하주   무이치로  주  160   40   35   50  55  25      안개의 호흡
음주     텐겐  주  198   80   75   70  80  75      소리의 호흡
연주    미츠리  주  167   40   60   70  75  80      사랑의 호흡
수주     기유  주  176   15   20   10  35  10       물의 호흡
충주    시노부  주  151   80  100   95  85  80      벌레의 호흡
풍주    사네미  주  179   55   65   45  40  35      바람의 호흡
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡의 호흡

In [9]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
df

       이름 계급    키   국어   영어   수학  과학  사회        사용호흡   총합
이명
염주    렌고쿠  주  177   90   85  100  95  85      화염의 호흡  455
하주   무이치로  주  160   40   35   50  55  25      안개의 호흡  205
음주     텐겐  주  198   80   75   70  80  75      소리의 호흡  380
연주    미츠리  주  167   40   60   70  75  80      사랑의 호흡  325
수주     기유  주  176   15   20   10  35  10       물의 호흡   90
충주    시노부  주  151   80  100   95  85  80      벌레의 호흡  440
풍주    사네미  주  179   55   65   45  40  35      바람의 호흡  240
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡의 호흡  465

In [10]:
df['결과'] = 'fail'

In [11]:
df

       이름 계급    키   국어   영어   수학  과학  사회        사용호흡   총합    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85      화염의 호흡  455  fail
하주   무이치로  주  160   40   35   50  55  25      안개의 호흡  205  fail
음주     텐겐  주  198   80   75   70  80  75      소리의 호흡  380  fail
연주    미츠리  주  167   40   60   70  75  80      사랑의 호흡  325  fail
수주     기유  주  176   15   20   10  35  10       물의 호흡   90  fail
충주    시노부  주  151   80  100   95  85  80      벌레의 호흡  440  fail
풍주    사네미  주  179   55   65   45  40  35      바람의 호흡  240  fail
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡의 호흡  465  fail

In [12]:
df.loc[df['사용호흡']=='시작의 호흡의 호흡'] ='시작의 호흡'
df

,이름,계급,키,국어,영어,수학,과학,사회,사용호흡,총합,결과
이명,,,,,,,,,,,
염주,렌고쿠,주,177,90,85,100,95,85,화염의 호흡,455,fail
하주,무이치로,주,160,40,35,50,55,25,안개의 호흡,205,fail
음주,텐겐,주,198,80,75,70,80,75,소리의 호흡,380,fail
연주,미츠리,주,167,40,60,70,75,80,사랑의 호흡,325,fail
수주,기유,주,176,15,20,10,35,10,물의 호흡,90,fail
충주,시노부,주,151,80,100,95,85,80,벌레의 호흡,440,fail
풍주,사네미,주,179,55,65,45,40,35,바람의 호흡,240,fail
주인공,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡

In [13]:
df.loc[df['사용호흡']=='시작의 호흡의 호흡']

Empty DataFrame
Columns: [이름, 계급, 키, 국어, 영어, 수학, 과학, 사회, 사용호흡, 총합, 결과]
Index: []

In [14]:
df

,이름,계급,키,국어,영어,수학,과학,사회,사용호흡,총합,결과
이명,,,,,,,,,,,
염주,렌고쿠,주,177,90,85,100,95,85,화염의 호흡,455,fail
하주,무이치로,주,160,40,35,50,55,25,안개의 호흡,205,fail
음주,텐겐,주,198,80,75,70,80,75,소리의 호흡,380,fail
연주,미츠리,주,167,40,60,70,75,80,사랑의 호흡,325,fail
수주,기유,주,176,15,20,10,35,10,물의 호흡,90,fail
충주,시노부,주,151,80,100,95,85,80,벌레의 호흡,440,fail
풍주,사네미,주,179,55,65,45,40,35,바람의 호흡,240,fail
주인공,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡,시작의 호흡

In [3]:
import pandas as pd
df = pd.read_csv('DSC.txt',index_col='이명' )
df

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
하주   무이치로  주  160   40   35   50  55  25    안개
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80    사랑
수주     기유  주  176   15   20   10  35  10     물
충주    시노부  주  151   80  100   95  85  80    벌레
풍주    사네미  주  179   55   65   45  40  35    바람
주인공   탄지로  병  165  100   85   90  95  95  물, 해

In [9]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
df['결과'] = 'fail'

In [17]:
df

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡   총합    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염  455  fail
하주   무이치로  주  160   40   35   50  55  25    안개  205  fail
음주     텐겐  주  198   80   75   70  80  75    소리  380  fail
연주    미츠리  주  167   40   60   70  75  80    사랑  325  fail
수주     기유  주  176   15   20   10  35  10     물   90  fail
충주    시노부  주  151   80  100   95  85  80    벌레  440  fail
풍주    사네미  주  179   55   65   45  40  35    바람  240  fail
주인공   탄지로  병  165  100   85   90  95  95  물, 해  465  fail

In [18]:
df['사용호흡'] = df['사용호흡']+'의 호흡'
df

       이름 계급    키   국어   영어   수학  과학  사회      사용호흡   총합    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염의 호흡  455  fail
하주   무이치로  주  160   40   35   50  55  25    안개의 호흡  205  fail
음주     텐겐  주  198   80   75   70  80  75    소리의 호흡  380  fail
연주    미츠리  주  167   40   60   70  75  80    사랑의 호흡  325  fail
수주     기유  주  176   15   20   10  35  10     물의 호흡   90  fail
충주    시노부  주  151   80  100   95  85  80    벌레의 호흡  440  fail
풍주    사네미  주  179   55   65   45  40  35    바람의 호흡  240  fail
주인공   탄지로  병  165  100   85   90  95  95  물, 해의 호흡  465  fail

In [21]:
df.loc[df['사용호흡']=='물, 해의 호흡','사용호흡']='시작의 호흡'
df

       이름 계급    키   국어   영어   수학  과학  사회    사용호흡   총합    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85  화염의 호흡  455  fail
하주   무이치로  주  160   40   35   50  55  25  안개의 호흡  205  fail
음주     텐겐  주  198   80   75   70  80  75  소리의 호흡  380  fail
연주    미츠리  주  167   40   60   70  75  80  사랑의 호흡  325  fail
수주     기유  주  176   15   20   10  35  10   물의 호흡   90  fail
충주    시노부  주  151   80  100   95  85  80  벌레의 호흡  440  fail
풍주    사네미  주  179   55   65   45  40  35  바람의 호흡  240  fail
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡  465  fail

In [22]:
df.loc[df['총합']>400,'결과']='pass'

In [23]:
df

       이름 계급    키   국어   영어   수학  과학  사회    사용호흡   총합    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85  화염의 호흡  455  pass
하주   무이치로  주  160   40   35   50  55  25  안개의 호흡  205  fail
음주     텐겐  주  198   80   75   70  80  75  소리의 호흡  380  fail
연주    미츠리  주  167   40   60   70  75  80  사랑의 호흡  325  fail
수주     기유  주  176   15   20   10  35  10   물의 호흡   90  fail
충주    시노부  주  151   80  100   95  85  80  벌레의 호흡  440  pass
풍주    사네미  주  179   55   65   45  40  35  바람의 호흡  240  fail
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡  465  pass

In [24]:
df.drop(columns=['총합'])

       이름 계급    키   국어   영어   수학  과학  사회    사용호흡    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85  화염의 호흡  pass
하주   무이치로  주  160   40   35   50  55  25  안개의 호흡  fail
음주     텐겐  주  198   80   75   70  80  75  소리의 호흡  fail
연주    미츠리  주  167   40   60   70  75  80  사랑의 호흡  fail
수주     기유  주  176   15   20   10  35  10   물의 호흡  fail
충주    시노부  주  151   80  100   95  85  80  벌레의 호흡  pass
풍주    사네미  주  179   55   65   45  40  35  바람의 호흡  fail
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡  pass

In [25]:
df.drop(index='풍주')

       이름 계급    키   국어   영어   수학  과학  사회    사용호흡   총합    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85  화염의 호흡  455  pass
하주   무이치로  주  160   40   35   50  55  25  안개의 호흡  205  fail
음주     텐겐  주  198   80   75   70  80  75  소리의 호흡  380  fail
연주    미츠리  주  167   40   60   70  75  80  사랑의 호흡  325  fail
수주     기유  주  176   15   20   10  35  10   물의 호흡   90  fail
충주    시노부  주  151   80  100   95  85  80  벌레의 호흡  440  pass
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡  465  pass

In [26]:
filt=df['수학']<80
df[filt]

      이름 계급    키  국어  영어  수학  과학  사회    사용호흡   총합    결과
이명
하주  무이치로  주  160  40  35  50  55  25  안개의 호흡  205  fail
음주    텐겐  주  198  80  75  70  80  75  소리의 호흡  380  fail
연주   미츠리  주  167  40  60  70  75  80  사랑의 호흡  325  fail
수주    기유  주  176  15  20  10  35  10   물의 호흡   90  fail
풍주   사네미  주  179  55  65  45  40  35  바람의 호흡  240  fail

In [28]:
df.drop(index=df[filt].index)

      이름 계급    키   국어   영어   수학  과학  사회    사용호흡   총합    결과
이명
염주   렌고쿠  주  177   90   85  100  95  85  화염의 호흡  455  pass
충주   시노부  주  151   80  100   95  85  80  벌레의 호흡  440  pass
주인공  탄지로  병  165  100   85   90  95  95  시작의 호흡  465  pass

In [29]:
df

       이름 계급    키   국어   영어   수학  과학  사회    사용호흡   총합    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85  화염의 호흡  455  pass
하주   무이치로  주  160   40   35   50  55  25  안개의 호흡  205  fail
음주     텐겐  주  198   80   75   70  80  75  소리의 호흡  380  fail
연주    미츠리  주  167   40   60   70  75  80  사랑의 호흡  325  fail
수주     기유  주  176   15   20   10  35  10   물의 호흡   90  fail
충주    시노부  주  151   80  100   95  85  80  벌레의 호흡  440  pass
풍주    사네미  주  179   55   65   45  40  35  바람의 호흡  240  fail
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡  465  pass

In [30]:
df.loc['사주']=['오바나이','병',162,90,90,90,90,90,'뱀의 호흡',450,'pass']
df

       이름 계급    키   국어   영어   수학  과학  사회    사용호흡   총합    결과
이명
염주    렌고쿠  주  177   90   85  100  95  85  화염의 호흡  455  pass
하주   무이치로  주  160   40   35   50  55  25  안개의 호흡  205  fail
음주     텐겐  주  198   80   75   70  80  75  소리의 호흡  380  fail
연주    미츠리  주  167   40   60   70  75  80  사랑의 호흡  325  fail
수주     기유  주  176   15   20   10  35  10   물의 호흡   90  fail
충주    시노부  주  151   80  100   95  85  80  벌레의 호흡  440  pass
풍주    사네미  주  179   55   65   45  40  35  바람의 호흡  240  fail
주인공   탄지로  병  165  100   85   90  95  95  시작의 호흡  465  pass
사주   오바나이  병  162   90   90   90  90  90   뱀의 호흡  450  pass

 ### column 순서 변경

In [31]:
cols =list(df.columns)
cols

['이름', '계급', '키', '국어', '영어', '수학', '과학', '사회', '사용호흡', '총합', '결과']

In [32]:
df = df[[cols[-1]]+cols[0:-1]]
df

       결과    이름 계급    키   국어   영어   수학  과학  사회    사용호흡   총합
이명
염주   pass   렌고쿠  주  177   90   85  100  95  85  화염의 호흡  455
하주   fail  무이치로  주  160   40   35   50  55  25  안개의 호흡  205
음주   fail    텐겐  주  198   80   75   70  80  75  소리의 호흡  380
연주   fail   미츠리  주  167   40   60   70  75  80  사랑의 호흡  325
수주   fail    기유  주  176   15   20   10  35  10   물의 호흡   90
충주   pass   시노부  주  151   80  100   95  85  80  벌레의 호흡  440
풍주   fail   사네미  주  179   55   65   45  40  35  바람의 호흡  240
주인공  pass   탄지로  병  165  100   85   90  95  95  시작의 호흡  465
사주   pass  오바나이  병  162   90   90   90  90  90   뱀의 호흡  450

In [35]:
df=df[['이름','사용호흡']]
df

       이름    사용호흡
이명
염주    렌고쿠  화염의 호흡
하주   무이치로  안개의 호흡
음주     텐겐  소리의 호흡
연주    미츠리  사랑의 호흡
수주     기유   물의 호흡
충주    시노부  벌레의 호흡
풍주    사네미  바람의 호흡
주인공   탄지로  시작의 호흡
사주   오바나이   뱀의 호흡

### Column 이름 변경

In [37]:
df.columns =['name','breathe']

In [38]:
df

     name breathe
이명
염주    렌고쿠  화염의 호흡
하주   무이치로  안개의 호흡
음주     텐겐  소리의 호흡
연주    미츠리  사랑의 호흡
수주     기유   물의 호흡
충주    시노부  벌레의 호흡
풍주    사네미  바람의 호흡
주인공   탄지로  시작의 호흡
사주   오바나이   뱀의 호흡