# 4. 파일 저장 및 열기
DataFrame 객체를 excel, csv, txt 등 형태의 파일로 저장 및 열기

In [6]:
DSC = {
    '이름' : ['렌고쿠', '무이치로', '텐겐', '미츠리', '기유', '시노부', '사네미', '탄지로'],
    '계급' : ['주', '주', '주', '주', '주', '주', '주', '병'],
    '키' : [177, 160, 198, 167, 176, 151, 179, 165],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    '사용호흡' : ['화염', '안개', '소리', '꽃', '물', '벌레', '바람', '물, 해']
}
data

{'이름': ['렌고쿠', '무이치로', '텐겐', '미츠리', '기유', '시노부', '사네미', '탄지로'],
 '계급': ['주', '주', '주', '주', '주', '주', '주', '병'],
 '키': [177, 160, 198, 167, 176, 151, 179, 165],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 '사용호흡': ['화염', '안개', '소리', '꽃', '물', '벌레', '바람', '물, 해']}

In [7]:
import pandas as pd
df = pd.DataFrame(DSC, index=['염주','하주','음주','연주','수주','충주','풍주','주인공'])
df.index.name ='이명'
df

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
하주   무이치로  주  160   40   35   50  55  25    안개
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80     꽃
수주     기유  주  176   15   20   10  35  10     물
충주    시노부  주  151   80  100   95  85  80    벌레
풍주    사네미  주  179   55   65   45  40  35    바람
주인공   탄지로  병  165  100   85   90  95  95  물, 해

## 저장하기 
csv 파일로 저장

In [9]:
df.to_csv('DSC.csv')