# 4. 파일 저장 및 열기
DataFrame 객체를 excel, csv, txt 등 형태의 파일로 저장 및 열기

In [6]:
DSC = {
    '이름' : ['렌고쿠', '무이치로', '텐겐', '미츠리', '기유', '시노부', '사네미', '탄지로'],
    '계급' : ['주', '주', '주', '주', '주', '주', '주', '병'],
    '키' : [177, 160, 198, 167, 176, 151, 179, 165],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    '사용호흡' : ['화염', '안개', '소리', '꽃', '물', '벌레', '바람', '물, 해']
}
data

{'이름': ['렌고쿠', '무이치로', '텐겐', '미츠리', '기유', '시노부', '사네미', '탄지로'],
 '계급': ['주', '주', '주', '주', '주', '주', '주', '병'],
 '키': [177, 160, 198, 167, 176, 151, 179, 165],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 '사용호흡': ['화염', '안개', '소리', '꽃', '물', '벌레', '바람', '물, 해']}

In [7]:
import pandas as pd
df = pd.DataFrame(DSC, index=['염주','하주','음주','연주','수주','충주','풍주','주인공'])
df.index.name ='이명'
df

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
하주   무이치로  주  160   40   35   50  55  25    안개
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80     꽃
수주     기유  주  176   15   20   10  35  10     물
충주    시노부  주  151   80  100   95  85  80    벌레
풍주    사네미  주  179   55   65   45  40  35    바람
주인공   탄지로  병  165  100   85   90  95  95  물, 해

## 저장하기 
csv 파일로 저장

In [24]:
df.to_csv('DSC.csv', encoding='utf-8-sig')

In [25]:
df.to_csv('DSC.txt', encoding='utf-8-sig')

In [11]:
df.to_csv('DSC.xlsx', encoding='utf-8-sig')

## 열기
### csv 파일 열기

In [13]:
df1 = pd.read_csv('DSC.csv')
df1

    이명    이름 계급    키   국어   영어   수학  과학  사회  사용호흡
0   염주   렌고쿠  주  177   90   85  100  95  85    화염
1   하주  무이치로  주  160   40   35   50  55  25    안개
2   음주    텐겐  주  198   80   75   70  80  75    소리
3   연주   미츠리  주  167   40   60   70  75  80     꽃
4   수주    기유  주  176   15   20   10  35  10     물
5   충주   시노부  주  151   80  100   95  85  80    벌레
6   풍주   사네미  주  179   55   65   45  40  35    바람
7  주인공   탄지로  병  165  100   85   90  95  95  물, 해

In [14]:
df1 = pd.read_csv('DSC.csv',skiprows=1) #지정된 갯수 만큼의 row 를 건너뜀
df1

    염주   렌고쿠  주  177   90   85  100  95  85.1    화염
0   하주  무이치로  주  160   40   35   50  55    25    안개
1   음주    텐겐  주  198   80   75   70  80    75    소리
2   연주   미츠리  주  167   40   60   70  75    80     꽃
3   수주    기유  주  176   15   20   10  35    10     물
4   충주   시노부  주  151   80  100   95  85    80    벌레
5   풍주   사네미  주  179   55   65   45  40    35    바람
6  주인공   탄지로  병  165  100   85   90  95    95  물, 해

In [17]:
df1 = pd.read_csv('DSC.csv',skiprows=[1,3,5,7])
df1

    이명    이름 계급    키   국어   영어  수학  과학  사회  사용호흡
0   하주  무이치로  주  160   40   35  50  55  25    안개
1   연주   미츠리  주  167   40   60  70  75  80     꽃
2   충주   시노부  주  151   80  100  95  85  80    벌레
3  주인공   탄지로  병  165  100   85  90  95  95  물, 해

In [19]:
df1 = pd.read_csv('DSC.csv',nrows=4) #지정된 갯수만큼 가져옴
df1

   이명    이름 계급    키  국어  영어   수학  과학  사회 사용호흡
0  염주   렌고쿠  주  177  90  85  100  95  85   화염
1  하주  무이치로  주  160  40  35   50  55  25   안개
2  음주    텐겐  주  198  80  75   70  80  75   소리
3  연주   미츠리  주  167  40  60   70  75  80    꽃

In [21]:
df1 = pd.read_csv('DSC.csv',skiprows=2, nrows=3)
df1

   하주 무이치로  주  160  40  35  50  55  25  안개
0  음주   텐겐  주  198  80  75  70  80  75  소리
1  연주  미츠리  주  167  40  60  70  75  80   꽃
2  수주   기유  주  176  15  20  10  35  10   물

### 텍스트(.txt)파일 열기

In [28]:
df2 = pd.read_csv('DSC.txt')
df2

   Unnamed: 0   이명    이름 계급    키   국어   영어   수학  과학  사회  사용호흡
0           0   염주   렌고쿠  주  177   90   85  100  95  85    화염
1           1   하주  무이치로  주  160   40   35   50  55  25    안개
2           2   음주    텐겐  주  198   80   75   70  80  75    소리
3           3   연주   미츠리  주  167   40   60   70  75  80     꽃
4           4   수주    기유  주  176   15   20   10  35  10     물
5           5   충주   시노부  주  151   80  100   95  85  80    벌레
6           6   풍주   사네미  주  179   55   65   45  40  35    바람
7           7  주인공   탄지로  병  165  100   85   90  95  95  물, 해

In [29]:
df2 = pd.read_csv('DSC.txt',index_col='이명')
df2

     Unnamed: 0    이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주            0   렌고쿠  주  177   90   85  100  95  85    화염
하주            1  무이치로  주  160   40   35   50  55  25    안개
음주            2    텐겐  주  198   80   75   70  80  75    소리
연주            3   미츠리  주  167   40   60   70  75  80     꽃
수주            4    기유  주  176   15   20   10  35  10     물
충주            5   시노부  주  151   80  100   95  85  80    벌레
풍주            6   사네미  주  179   55   65   45  40  35    바람
주인공           7   탄지로  병  165  100   85   90  95  95  물, 해