# 5. 데이터 확인

In [5]:
import pandas as pd
df2 = pd.read_csv('DSC.txt',index_col='이명' )
df2

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
하주   무이치로  주  160   40   35   50  55  25    안개
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80     꽃
수주     기유  주  176   15   20   10  35  10     물
충주    시노부  주  151   80  100   95  85  80    벌레
풍주    사네미  주  179   55   65   45  40  35    바람
주인공   탄지로  병  165  100   85   90  95  95  물, 해

## DataFrame 확인
계산 가능한 데이터에 대해 column 별로 데이터의 갯수, 평균, 표준편차, 최소/최대값 등의 정보를 보여줌

In [6]:
df2.describe()

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   171.625000   62.500000   65.625000   66.250000  70.000000  60.625000
std     14.262213   29.519969   26.917533   30.325614  23.754699  32.120032
min    151.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    163.750000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    171.500000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    177.500000   82.500000   85.000000   91.250000  87.500000  81.250000
max    198.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [8]:
df2.head() #입력하지 않으면 기본 값으로 5개를 가져옴

      이름 계급    키  국어  영어   수학  과학  사회 사용호흡
이명
염주   렌고쿠  주  177  90  85  100  95  85   화염
하주  무이치로  주  160  40  35   50  55  25   안개
음주    텐겐  주  198  80  75   70  80  75   소리
연주   미츠리  주  167  40  60   70  75  80    꽃
수주    기유  주  176  15  20   10  35  10    물

In [9]:
df2.head(7)

      이름 계급    키  국어   영어   수학  과학  사회 사용호흡
이명
염주   렌고쿠  주  177  90   85  100  95  85   화염
하주  무이치로  주  160  40   35   50  55  25   안개
음주    텐겐  주  198  80   75   70  80  75   소리
연주   미츠리  주  167  40   60   70  75  80    꽃
수주    기유  주  176  15   20   10  35  10    물
충주   시노부  주  151  80  100   95  85  80   벌레
풍주   사네미  주  179  55   65   45  40  35   바람

In [11]:
df2.tail()

      이름 계급    키   국어   영어  수학  과학  사회  사용호흡
이명
연주   미츠리  주  167   40   60  70  75  80     꽃
수주    기유  주  176   15   20  10  35  10     물
충주   시노부  주  151   80  100  95  85  80    벌레
풍주   사네미  주  179   55   65  45  40  35    바람
주인공  탄지로  병  165  100   85  90  95  95  물, 해

In [12]:
df2.values

array([['렌고쿠', '주', 177, 90, 85, 100, 95, 85, '화염'],
       ['무이치로', '주', 160, 40, 35, 50, 55, 25, '안개'],
       ['텐겐', '주', 198, 80, 75, 70, 80, 75, '소리'],
       ['미츠리', '주', 167, 40, 60, 70, 75, 80, '꽃'],
       ['기유', '주', 176, 15, 20, 10, 35, 10, '물'],
       ['시노부', '주', 151, 80, 100, 95, 85, 80, '벌레'],
       ['사네미', '주', 179, 55, 65, 45, 40, 35, '바람'],
       ['탄지로', '병', 165, 100, 85, 90, 95, 95, '물, 해']], dtype=object)

In [13]:
df2.index

Index(['염주', '하주', '음주', '연주', '수주', '충주', '풍주', '주인공'], dtype='object', name='이명')

In [14]:
df2.columns

Index(['이름', '계급', '키', '국어', '영어', '수학', '과학', '사회', '사용호흡'], dtype='object')

In [15]:
df2.shape

(8, 9)

## Series 확인

In [16]:
df2['키'].describe()

count      8.000000
mean     171.625000
std       14.262213
min      151.000000
25%      163.750000
50%      171.500000
75%      177.500000
max      198.000000
Name: 키, dtype: float64

In [17]:
df2['키'].nlargest(3) # 키 큰 사람 위에서 3명

이명
음주    198
풍주    179
염주    177
Name: 키, dtype: int64

In [18]:
df2['키'].sum()

1373

In [19]:
df2['사용호흡'].count()

8

In [20]:
df2['계급'].unique()

array(['주', '병'], dtype=object)