# 6. 데이터 선택 (기본)

In [14]:
import pandas as pd
df = pd.read_csv('DSC.txt',index_col='이명' )
df

       이름 계급    키   국어   영어   수학  과학  사회  사용호흡
이명
염주    렌고쿠  주  177   90   85  100  95  85    화염
하주   무이치로  주  160   40   35   50  55  25    안개
음주     텐겐  주  198   80   75   70  80  75    소리
연주    미츠리  주  167   40   60   70  75  80    사랑
수주     기유  주  176   15   20   10  35  10     물
충주    시노부  주  151   80  100   95  85  80    벌레
풍주    사네미  주  179   55   65   45  40  35    바람
주인공   탄지로  병  165  100   85   90  95  95  물, 해

## Column  선택 (label)

In [5]:
df["이름"]

이명
염주      렌고쿠
하주     무이치로
음주       텐겐
연주      미츠리
수주       기유
충주      시노부
풍주      사네미
주인공     탄지로
Name: 이름, dtype: object

In [6]:
df[["이름", "사용호흡"]]

       이름  사용호흡
이명
염주    렌고쿠    화염
하주   무이치로    안개
음주     텐겐    소리
연주    미츠리     꽃
수주     기유     물
충주    시노부    벌레
풍주    사네미    바람
주인공   탄지로  물, 해

## Column 선택 (정수 index)

In [8]:
df.columns

Index(['이름', '계급', '키', '국어', '영어', '수학', '과학', '사회', '사용호흡'], dtype='object')

In [9]:
df.columns[2]

'키'

In [10]:
df[df.columns[2]] # df["키"]

이명
염주     177
하주     160
음주     198
연주     167
수주     176
충주     151
풍주     179
주인공    165
Name: 키, dtype: int64

In [11]:
df['사용호흡'][3:5] #슬라이싱

이명
연주    꽃
수주    물
Name: 사용호흡, dtype: object

In [15]:
df[['사용호흡','키']][:5]

   사용호흡    키
이명
염주   화염  177
하주   안개  160
음주   소리  198
연주   사랑  167
수주    물  176